<!DOCTYPE html>
<html>
  <head>
    <title>Voting Done</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>..DONT TRY AND ACT SMART..</h1>
    <h2>You have already voted so do something else!!</h2>
    <button onclick="window.location='/'">HOME</button>
    <button onclick="window.location='/seeResult'">Current Vote Standings/Result</button>
    <button onclick="window.location='/showMyIp'">Reveal my IP</button>
  </body>
</html>
