<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <!-- Cache control -->
    <meta name="cache-control" content="no-cache" />
    <meta name="expires" content="0" />
    <meta name="pragma" content="no-cache" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid" id="contId">
    
    <ul class="breadcrumb" id="ulId">
      <li><a href="/">Home</a></li>
      <li><a href="/vote">Vote</a></li>
      <li><a href="/showMyIp">Show IP</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/show/all">View Contestants</a></li>
      <li id="active">RESULT</li>
    </ul>

    <% if(error) { %>
      <h3><%= error %><h3>
    <% } %>

  <form role="form" id="regform" action="/seeResult" method="post">

    <div class="form-group">
      <input required type="password" class="form-control" name="pass" id="pass" placeholder="KEY to RESULTS">
    </div>

    <button type="submit" id="regBtn" class="btn btn-primary">UNLOCK RESULTS</button>
  </form>
  </div>
  </script>
</body>
</html>
