<!DOCTYPE html>
<html>
  <head>
    <title>Voting Done</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>..OK..</h1>
    <p>Your vote has been recorded!!</p>
    <button onclick="window.location='/'">HOME</button>
    <button onclick="window.location='/seeResult'">Current Vote Standings/Result</button>
    <button onclick="window.location='/showMyIp'">Reveal my IP</button>
  </body>
</html>
