<!DOCTYPE html>
<html>
  <head>
    <title>Voting Done</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="container" id="contId">
		
		<ul class="breadcrumb" id="ulId">
			<li><a href="/">Home</a></li>
			<li><a href="/vote">Vote</a></li>
			<li><a href="/showMyIp">Show IP</a></li>
			<li><a href="/register">Register</a></li>
			<li><a href="/show/all">View Contestants</a></li>
			<li><a href="/seeResult">RESULT</a></li>
		</ul>
    	
    	<h1>..OK..</h1>
    	<p>Your vote has been recorded!!</p>
  	</div>
  </body>
</html>
