<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <!-- Cache control -->
    <meta name="cache-control" content="no-cache" />
    <meta name="expires" content="0" />
    <meta name="pragma" content="no-cache" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

        #ulId {
          background-color: #000000;
        }

        #active {
          color: #ff0055;
        }

        h1, h2, h3 {
          color: #ff0055;
        }

    </style>
</head>
<body>
  <div class="container-fluid">
    
    <ul class="breadcrumb" id="ulId">
      <li><a href="/">Home</a></li>
      <li><a href="/vote">Vote</a></li>
      <li><a href="/showMyIp">Show IP</a></li>
      <li id="active">Register</li>
      <li><a href="/show/all">View Contestants</a></li>
    </ul>
  <h1>Register</h1>
  <!--
  Error div
  -->
  <div id="error">
      <p><%= errors %></p>
  </div>

  <form role="form" id="regform" action="/register" method="post">

    <div class="form-group">
      <input required type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name">
    </div>

    <div class="form-group">
        <select required class="form-control" name="gender" id="gender" placeholder="Select your gender">
            <option value="">Select Gender</option>
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
    </div>

    <div class="form-group">
        ​<textarea required id="agenda" name="agenda" rows="10" cols="70" placeholder="Enter Agenda"></textarea>
    </div>

    <div class="form-group">
      <input required type="password" class="form-control"
      name="pass" id="pass" placeholder="Admin Password">
    </div>

    <button type="submit" id="regBtn" class="btn btn-primary" onclick="return btnClick()">Register</button>
  </form>
  </div>
  <script src="../javascripts/regval.js" type="text/javascript">
  </script>
</body>
</html>
