<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </head>
  <body>
  <div class="container-fluid" id="contId">
		
		<ul class="breadcrumb" id="ulId">
			<li><a href="/">Home</a></li>
			<li><a href="/vote">Vote</a></li>
			<li><a href="/showMyIp">Show IP</a></li>
			<li><a href="/register">Register</a></li>
			<li><a href="/show/all">View Contestants</a></li>
			<li id="active">RESULT</li>
		</ul>
    <h2>Results</h2>
    <h3><p>The CRs run for 4th semester are: </p></h3><br>
    <h3>Girl Winner: </h3><h1>"<%= CRG %>" </h1><h3>--votes: <%= VG %> </h3><br> <h3>Boy Winner: </h3><h1>"<%= CRB %>" </h1><h3>--votes: <%= VB %></h3></h1>

  </div>
  </body>
</html>
