<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Results</h1>
    <h2><p>The CRs run for 4th semester are: </p></h2><br>
    <h1><p>Girl top Votes: "<%= CRG %>" --votes: <%= VG %> <br> Boy winner: "<%= CRB %>" --votes: <%= VB %></p></h1>
    <button onclick="window.location='/'">HOME</button>
    <button onclick="window.location='/vote'">VOTE!</button>
    <button onclick="window.location='/showMyIp'">Reveal my IP</button>
  </body>
</html>
