<!DOCTYPE html>
<html>
  <head>
    <title>IpAddress</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= ip %></h1>
    <p>My Ip is : <%= ip %></p>
    <button onclick="window.location='/'">HOME</button>
    <button onclick="window.location='/vote'">VOTE!</button>
    <button onclick="window.location='/seeResult'">Current Vote Standings/Result</button>
  </body>
</html>
