<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contestant details</title>
  <meta charset="utf-8">
  <!-- Cache control -->
    <meta name="cache-control" content="no-cache" />
    <meta name="expires" content="0" />
    <meta name="pragma" content="no-cache" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>

    #ulId {
      background-color: #000000;
    }

    #active {
      color: #ff0055;
    }

    h1, h2, h3 {
      color: #ff0055;
    }


  </style>
</head>
<body>
  <div class="container-fluid">
    
    <ul class="breadcrumb" id="ulId">
      <li><a href="/">Home</a></li>
      <li><a href="/vote">Vote</a></li>
      <li><a href="/showMyIp">Show IP</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/show/all">View Contestants</a></li>
    </ul>
  <h1><%= name %></h1>
  <!--
  Error div
  -->
  <div id="error">
      <p><%= errors %></p>
  </div>

  <div id="gender">
      <h3>Gender:</h3>
      <h4><%= gender %></h4>
  </div>

  <div id="agenda">
      <h3>Agenda:</h3>
      <%- agenda %>
  </div>

  <br/>
  <button onclick="window.location='../'" class="btn btn-primary">Home</button>
  <button onclick="window.location='../show/all'" class="btn btn-primary">Show All contestants</button>
  </div>
</body>
</html>
