<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contestant details</title>
  <meta charset="utf-8">
  <!-- Cache control -->
    <meta name="cache-control" content="no-cache" />
    <meta name="expires" content="0" />
    <meta name="pragma" content="no-cache" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container-fluid" id="contId">
    
    <ul class="breadcrumb" id="ulId">
      <li><a href="/">Home</a></li>
      <li><a href="/vote">Vote</a></li>
      <li><a href="/showMyIp">Show IP</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/show/all">View Contestants</a></li>
      <li><a href="/seeResult">RESULT</a></li>
    </ul>
  <h1><%= name %></h1>
  <!--
  Error div
  -->
  <div id="error">
      <p><%= errors %></p>
  </div>

  <div id="gender">
      <h3>Gender:</h3>
      <h4><% if(gender == "F") { %>
        Female
        <% } %>
        <% if(gender == "M") { %>
        Male
        <% } %>
      </h4>
  </div>

  <div id="agenda">
      <h3>Agenda:</h3>
      <%- agenda %>
  </div>

  </div>
</body>
</html>
