<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vote</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>

  <div class="container" id="contId">

    <ul class="breadcrumb" id="ulId">
      <li><a href="/">Home</a></li>
      <li id="active">Vote</li>
      <li><a href="/showMyIp">Show IP</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/show/all">View Contestants</a></li>
      <li><a href="/seeResult">RESULT</a></li>
    </ul>

    <h1>Chemical Official CR Elections</h1>
    <p id="errorPara"></p>
    <h2><p>Choose to VOTE:</p></h2>
    <br><br>
    <form role="form" id="voteform" action="/submitVote" method="post">
    <br>

      <h2>Boys</h2>
      <br>
      <% var i=0; %>
      <% conts.forEach(function (contestant, index){ %>
              <% if(contestant.gender === 'M'){ %>
                  <% var a = contestant.name; %>
                  <div class="form-group">
                  <label class="radio-inline">
                  <input type="radio" name="votedCandidateBoy" id="votedCandidate1" checked="checked" value=<%= a %>><%= a %>
                  </label>
              </div>
              <% i++; %>
              <% } %>
          <% }); %>
      <br>
      <h2>Girls</h2>
      <br>
      <% var j=0; %>
      <% conts.forEach(function (contestant, index){ %>
              <% if(contestant.gender === 'F'){ %>
                  <% var a = contestant.name; %>
                  <div class="form-group">
                  <label class="radio-inline">
                  <input type="radio" name="votedCandidateGirl" id="votedCandidate1" checked="checked" value=<%= a %>><%= a %>
                  </label>
              </div>
              <% } %>
          <% }); %>
          <% j++; %>
      <br><br><br>
      <button type="submit" class="btn btn-primary">Submit Vote</button>
    </form>
  </div>
  </body>
  <script type="text/javascript" src="javascripts/vote.js"></script>
</html>

