body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
  color: #ff0055;
}

#ulId {
  background-color: #000000;
}

#active {
  color: #ff0055;
}

#contId {
  background-color: #000000;
  color: #ff0055;
}

html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    /* overflow-y: hidden;  don't show content that exceeds my height */
}
